<footer class="footer bg-secondary">
        <div class="container">
          <div class="row pt-3 text-white">
            <div class="col-sm">
              <h5>Utiliser Eventbrite</h5>
              <ul class="pl-0">
                <li><a href="#">Logiciel de billetterie</a></li>
                <li><a href="#">Tarifs</a></li>
                <li><a href="#">Plan de salle</a></li>
                <li><a href="#">Les possibilités d'Eventbrite</a></li>
                <li><a href="#">Carte du site</a></li>
                <li><a href="#">Normes de contenu</a></li>
                <li><a href="#">Ressources à propos du COVID-19</a></li>
              </ul>
            </div>
            <div class="col-sm">
              <h5>Planifiez vos évènements</h5>
              <ul class="pl-0">
                <li><a href="#">Vendre des billets en ligne</a></li>
                <li><a href="#">Gestion d'événements en ligne</a></li>
                <li><a href="#">Plan de salle</a></li>
                <li><a href="#">Inscription gratuite à un événement</a></li>
              </ul>
            </div>
            <div class="col-sm">
              <h5>Restons connectés</h5>
              <ul class="pl-0">
                <li><a href="#">Contacter l'assistance</a></li>
                <li><a href="#">Tarifs</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">LinkedIn</a></li>
                <li><a href="#">Instagram</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>